{% load static %}
{% load components %}
<div class="flex flex-col p-1 bg-neutral-100 border rounded-md" data-elemento="card-comentario">
    <div>
        <div class="flex gap-1 items-center">
            <a href="{% url 'perfil:perfil' id_usuario=comentario.do_autor.pk %}">
                {% if comentario.do_autor.foto %}
                <div>
                    <img class="icon-perfil-p" src="{{comentario.do_autor.foto.url}}" alt="">
                </div>
                {% else %}
                <div class="border rounded-full w-8 h-8 bg-blue-500"></div>
                {% endif %}
            </a>
            <div class="flex flex-col">
                <span><a class="link-padrao"
                        href="{% url 'perfil:perfil' id_usuario=comentario.do_autor.pk %}">{{comentario.do_autor.username}}</a></span>
                <!--noformat-->
                <time class="text-xs text-gray-500"
                    datetime="{{comentario.momento | date:'d/m/Y H:i'}}">{{comentario.momento | timesince}}</time>
                <!--noformat-->
            </div>
            <div class="grow flex justify-end">
                <dialog id="opcoes_comentario_{{comentario.pk}}" class="bg-transparent">
                    <div class="border border-primaria bg-white rounded-xl flex flex-col gap-5 p-5">
                        <div class="flex flex-col gap-1">
                            <div>
                                <h3>Opções Disponíveis</h3>
                            </div>
                            <div class="flex flex-col gap-1"
                                hx-get="{% url 'social:opcoes_comentario' id_comentario=comentario.pk %}"
                                hx-trigger="intersect once">-</div>
                        </div>
                        <div>
                            <button class="btn-padrao-p" type="button"
                                _="on click call #opcoes_comentario_{{comentario.pk}}.close()">Fechar</button>
                        </div>
                    </div>
                </dialog>
                <button class="rounded-lg" type="button"
                    _="on click call #opcoes_comentario_{{comentario.pk}}.showModal()"><img class="max-h-5 max-w-5"
                        src="{% static 'svg/tres-pontos.svg' %}" alt=""></button>
            </div>
        </div>
    </div>
    <div class="">
        <p>{{comentario.corpo}}</p>
    </div>
    {% if user.is_authenticated %}
    <div class="flex justify-between items-end">
        <div>
            <button class="font-bold">Responder</button>
        </div>
        {% #reacao_comentario comentario=comentario %}
    </div>
    {% endif %}
</div>